* { 
    margin: auto; 
    text-align: center;
}

body { 
    background-color: bisque;
    background-image: url("../images/pexels-francesco-ungaro-464391.jpg");
    background-position: center;
    height: 700px;
}

.container { 
    display: flex;
    flex-direction: column;
    padding-top: 68px;

}

.text { 
    width: 100%;
    height: 200px;
    padding-top: 20px;
    background-color: #48252552;
  
    
}

h2 { 
    padding-top: 12px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    color: white; 
    font-family: 'Courier New', Courier, monospace;
}
.dia { 
    width: 200px; 
    height: 200px; 
    background-color: bisque;
   
    
}

.slide { 
    display: none;
    width: 200px; 
    height: 200px; 
    
}